@media (max-width: 630px) {

	#brand {
		padding-left: 15px;
		font-size: 150%;
	}

	.desktop {
		display: none;
	}

	#menu-wrap {
		width: 40px;
		padding-right: 15px;
	}

	#wrap {
		width: 100%;
	}

	.title {
		font-size: 47px;
	}

	#inner-hero {
		flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
	}

	#hero-title-wrapper {
		margin-top: 50px;
	}

	.hero-title {
		text-align: center;
		font-size: 26px;
	}

	#resume-icon {
		height: 100px;
		margin-top: -75px;
	}

	#work {
		margin-top: 55px;
		flex-direction: column;
		-webkit-flex-direction: column;
	}

	#work-title {
		margin-top: 60px;
		text-align: center;
	}

	#work-icon {
		margin-top: 50px;
	}

	#project-title {
		margin-right: 0px;
		margin-top: 50px;
		text-align: center;
	}

	.project-type {
		font-size: 30px;
	}

	.project-img {
		height: 100px;
	}

	#contact-title {
		margin-top: -175px;
	}

	#contact-icon-wrap {
		width: 100%;
	}

	.contact-icon {
		height: 60px;
	}

}


@media (max-width:900px) and (min-width:631px) {


	#brand {
		padding-left: 25px;
		font-size: 250%;
	}

	.navbar li:hover {
		color: black;
		opacity: .40;

	}

	#menu-wrap {
		width: 165px;
		padding-right: 25px;
	}

	#wrap {
		width: 100%;
	}

	.title {
		font-size: 57px;
	}

	#inner-hero {
		flex-direction: row;
		-webkit-flex-direction: row;
	}

	.hero-title {
		text-align: right;
		font-size: 30px;
	}

	#resume-icon {
		height: 144px;
	}

	#work {
		margin-top: 75px;
		flex-direction: row;
		-webkit-flex-direction: row;
		justify-content: space-around;
		-webkit-justify-content: space-around;
	}

	#work-title {
		text-align: left;
	}	

	#project-title {
		margin-right: 0px;
		margin-top: 100px;
		text-align: center;
	}

	.project-type {
		font-size: 30px;
	}

	.project-img {
		height: 130px;
	}

	#contact-title {
		margin-top: -50px;
	}

	#contact-icon-wrap {
		width: 100%;
	}

	.contact-icon {
		height: 90px;
	}

}

@media (max-width: 1300px) and (min-width: 901px){
	#brand {
		padding-left: 50px;
		font-size: 250%;
	}

	.navbar li:hover {
		color: black;
		opacity: .40;

	}

	#menu-wrap {
		width: 165px;
		padding-right: 50px;
	}

	#contact-icon-wrap {
		width: 100%;
	}

	#wrap {
		width: 900px;
	}

	.title {
		font-size: 67px;
	}

	#inner-hero {
		flex-direction: row;
		-webkit-flex-direction: row;
	}

	.hero-title {
		text-align: right;
		font-size: 36px;
	}

	#resume-icon {
		height: 144px;
	}

	#work {
		margin-top: 85px;
		flex-direction: row;
		-webkit-flex-direction: row;
		justify-content: space-around;
		-webkit-justify-content: space-around;
	}

	#work-title {
		text-align: left;
	}

	#project-title {
		margin-right: 150px;
		margin-top: 150px;
		text-align: right;
	}

	.project-type {
		font-size: 40px;
	}

	.project-img {
		height: 140px;
	}

	#contact-title {
		margin-top: -50px;
	}

	#contact-icon-wrap {
		width: 60%;
	}

	.contact-icon {
		height: 100px;
	}

}

@media (min-width: 1301px) {
	#brand {
		padding-left: 50px;
		font-size: 250%;
	}

	.navbar li:hover {
		color: black;
		opacity: .40;

	}

	#menu-wrap {
		width: 165px;
		padding-right: 50px;
	}

	#wrap {
		width: 1200px;
	}

	.title {
		font-size: 87px;
	}

	#inner-hero {
		flex-direction: row;
		-webkit-flex-direction: row;
	}

	.hero-title {
		text-align: right;
		font-size: 36px;
	}

	#resume-icon {
		height: 144px;
	}

	#work {
		margin-top: 85px;
		flex-direction: row;
		-webkit-flex-direction: row;
		justify-content: space-around;
		-webkit-justify-content: space-around;
	}

	#work-title {
		text-align: left;
	}


	#project-title {
		margin-right: 200px;
		margin-top: 150px;
		text-align: right;
	}

	.project-type {
		font-size: 47px;
	}

	.project-img {
		height: 150px;
	}

	#contact-title {
		margin-top: -50px;
	}

	#contact-icon-wrap {
		width: 50%;
	}

	.contact-icon {
		height: 100px;
	}

}



body {
	margin: 140px 0px 0px 0px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
  	justify-content: center;
  	-webkit-justify-content: center;
  	background-color: #2B3A42;

}

.icon {
	transition: opacity .25s ease-in-out;
	width: 40px;
	height: 40px;
}

.icon:hover {
	opacity: .5;
	cursor: pointer;
}

#twitter {
	padding: 0px 22px 0px 22px;
}

a {
	color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;

}

.navbar {
    position: fixed;
    background-color: #2B3A42;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 70px;

}

#nav-wrap {
	display: flex;
	background-color: inherit;
	color: #BDD4DE;
	display: -webkit-flex;
	height: 100%;
	align-items: center;
	-webkit-align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

#brand-wrap {
	display: flex;
	display: -webkit-flex;
}

#brand {
	color: #BDD4DE;
	padding-right: 10px;
	font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;
	font-style: italic;
	font-weight: 100;
}

#brand:hover {
	cursor: pointer;
	opacity: .40;
}

#menu-wrap {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin-top: 25px;
}

#hero {
	height: 350px;
	background-color: #3F5765;
	position: relative;

}

#inner-hero {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	align-items: center;
	-webkit-align-items: center;
}

.hero-title {
	margin: 0px;
	font-family: "HelveticaNeue", Helvetica, sans-serif;
	font-weight: 500;
	color: #BDD4DE;
}

#resume-icon {
	width: auto;
	padding-bottom: 10px;

}

#resume-wrapper {
	display: inherit;
	flex-direction: column;
	-webkit-flex-direction: column;
	margin-top: 100px;
	color: #BDD4DE;
	font-size: 30px;
	font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;
	font-style: italic;
	font-weight: 100;
	text-align: center;
	transition: opacity .25s ease-in-out;

}

#resume-wrapper:hover {
	opacity: .5;
	cursor: pointer;
}

#hero:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 105%;
    left: 0;
    z-index: 1;
    
    background-color: #3F5765;
    transform-origin: top right;
    -ms-transform: skew(0deg, -10deg);
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);

	border-image-slice: 0 0 36 0; 
	border-image-width: 0px 0px 30px 0px; 
	border-image-outset: 0px 0px 15px 0px; 
	border-image-repeat: stretch stretch;
	border-image-source: url('../img/slice.svg');
	border-top: solid 0px !important;
	border-left: solid 0px !important;
	border-right: solid 0px !important;

}

#work {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;

	height: 550px;
	z-index: 0;
	background-color: #BDD4DE;
    -ms-transform: skew(0deg, -10deg);
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);

	border-image-slice: 0 0 36 0; 
	border-image-width: 0px 0px 20px 0px; 
	border-image-outset: 0px 0px 12px 0px; 
	border-image-repeat: stretch stretch;
	border-image-source: url('../img/slice.svg');
	border-top: solid 0px !important;
	border-left: solid 0px !important;
	border-right: solid 0px !important;
}

#work-title {
	width: 300px;
	padding: 0px;
	font-family: "HelveticaNeue", Helvetica, sans-serif;
	font-weight: 500;
	color: #F15623;
    -ms-transform: skew(0deg, 10deg);
    -webkit-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
}

#work-icon {
	height: 144px;
	width: auto;
    -ms-transform: skew(0deg, 10deg);
    -webkit-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
    transition: opacity .25s ease-in-out;
}

#work-icon:hover {
	opacity: .5;
	cursor: pointer;
}


#projects {
	z-index: 1;
	background-color: #2B3A42;
	width: 100%;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;

	border-image-slice: 0 27 0 0; 
	border-image-width: 0px 15px 0px 0px; 
	border-image-outset: 0px 0px 0px 0px; 
	border-image-repeat: stretch stretch;
	border-image-source: url('../img/slice-vert-light.svg');
	border-top: solid 0px !important;
	border-left: solid 0px !important;
	border-right: solid 0px !important;

}

#project-title {
	font-family: "HelveticaNeue", Helvetica, sans-serif;
	font-weight: 500;
	color: #F15623;

}

#project-type-wrap {
	display: inherit;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	width: 100%;
	padding-bottom: 100px;

}

.project-type {
	transition: opacity .25s ease-in-out;
	display: inherit;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	text-align: center;
	color: #BDD4DE;
	font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;
	font-style: italic;
	font-weight: 100;

}

.project-img {
	transition: opacity .25s ease-in-out;
	width: auto;
	padding-bottom: 20px;
}

.project-type:hover {
	opacity: .5;
	cursor: pointer;
}

#contact-me-wrap {
	height: 550px;
	background-color: #2B3A42;

	border-image-slice: 36 0 0 0; 
	border-image-width: 15px 0px 0px 0px; 
	border-image-outset: 0px 0px 0px 0px; 
	border-image-repeat: stretch stretch;
	border-image-source: url('../img/slice-horz-light.svg');
	border-left: solid 0px !important;
	border-right: solid 0px !important;
}

#contact-me {
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
  	justify-content: center;
  	-webkit-justify-content: center;

	border-image-slice: 0 0 0 36; 
	border-image-width: 0px 0px 0px 15px; 
	border-image-outset: 0px 0px 0px 0px; 
	border-image-repeat: stretch stretch;
	border-image-source: url('../img/slice-vert-light.svg');

}

#contact-title {
	text-align: center;
	margin-bottom: 100px;
	font-family: "HelveticaNeue", Helvetica, sans-serif;
	font-weight: 500;
	color: #F15623;
}

#contact-icon-wrap {
	display: inherit;
	flex-direction:row;
	-webkit-flex-direction:row;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

.contact-icon {
	transition: opacity .25s ease-in-out;
	width: auto;
}

.contact-icon:hover {
	opacity: .5;
	cursor: pointer;
}

#copyright {
	color: #BDD4DE;
	margin-top: 100px;
	text-align: center;
	font-size: 18px;
	font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;
	font-weight: 100;

}