@media (max-width: 700px) {
	.navbar ul li.menu {
		display: none
	}

	.brand {
		top: 11px;
		font-size: 150%;
	}

	#icons {
		left: 210px;
	}

	.navbar ul li.mobileMenu {
		position: absolute;
		top: 9px;
		right: 0px;
		padding-right: 10px;
		display: block;
	}

	.mobileMenu ul {
		position: absolute;
		top: 42px;
		right: 0;
		text-align: left;
	}
	.mobileMenu li {
		display: none;
		background-color: white;
		font-size: 130%;
		padding: 5px 0px 5px 10px;
		opacity: .70;
	
		
	}

	.mobileMenu li:hover {
		color: black;
		opacity: .40;
	}



}

@media (min-width: 701px) {
	.navbar li {
		font-size: 110%;
		display: inline;
		color: #18453B;
		padding: 0px 10px 0px 10px;
	}

	.brand {
		font-size: 130%;
		top: 13px;
	}

	#icons {
		left: 190px;
	}


	.navbar li:hover {
		color: black;
		opacity: .40;

	}

	.navbar ul li.mobileMenu {
		display: none;
		font-size: 110%;
		color: #18453B;
	}
}




body {
	margin: 0px 0px 0px 0px;
	background-color: black;
}

.brand {
	position: absolute;
	left: 10px;
	color: #18453B;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.brand:hover {
	cursor: pointer;
	color: black;
	opacity: .40;
}

#icons {
	position: absolute;
	top: 13px;
	display: inline;
}

.github:hover {
	opacity: .5;
	cursor: pointer;
}

.linkedin:hover {
	opacity: .5;
	cursor: pointer;
}

a {
	color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;

}

li {
	list-style-type: none;
}

.navbar {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: right;
	background-color: white;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	opacity: .70;
	height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

div.mainView {
	background-image: url("../img/backdrop.jpeg");
	background-size: cover; 
	width: 100%;
}
