body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.right {
  float: right;
}

.left {
  float: left;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}
