// Fonts
$font-path: '../fonts';

// Site Responsiveness
$max-site-width: 1440px;
$max-grid-quad-width: 1180px;
$max-tablet-width: 980px;
$max-grid-tri-width: 910px;
$max-mobile-width: 768px;
$max-mobile-med-width: 640px;
$max-grid-duo-width: 640px;
$max-mobile-xs-width: 480px;
$tablet-margin: 100px;
$mobile-margin-total: 60px;
$mobile-xs-margin-total: 50px;
