/* Whites */
$white: #fff;
/* Blacks */
$very-soft-black: rgba(0, 0, 0, .05);
$quite-soft-black: rgba(0, 0, 0, .25);
$black: #000;
/* Grays */
$alto-gray: #dadada;
$gun-metal: #1f2833;
/* Blues */
$united-nations-blue: #4a90e2;
