@-webkit-keyframes wobble {
  0%, 48%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12%, 36% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
  24% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  60%, 84% {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  72% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}
@keyframes wobble {
  0%, 48%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12%, 36% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
  24% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  60%, 84% {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  72% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}
@-webkit-keyframes z-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes z-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes z-bounce-back {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes z-bounce-back {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@font-face {
  font-family: 'Ubuntu-Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-light.svg#ubuntulight") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Light-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-lightitalic.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-lightitalic.woff") format("woff"), url("../fonts/ubuntu/ubuntu-lightitalic.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-lightitalic.svg#ubuntulight_italic") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-medium.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-medium.svg#ubuntumedium") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Medium-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-mediumitalic.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-mediumitalic.svg#ubuntumedium_italic") format("svg");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-regular.svg#ubunturegular") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-italic.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-italic.svg#ubuntuitalic") format("svg");
}
/* line 1, scss/partials/general/_global.scss */
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@-webkit-keyframes nav-drop-in {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}

@keyframes nav-drop-in {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}
/* line 11, scss/partials/_navigation.scss */
nav {
  -webkit-animation: nav-drop-in .2s linear forwards;
          animation: nav-drop-in .2s linear forwards;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  background-color: #fff;
  border-bottom: 2px solid #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Ubuntu;
  font-weight: 300;
  height: 50px;
  position: fixed;
  top: -50px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 100%;
  z-index: 1000;
}
/* line 26, scss/partials/_navigation.scss */
nav ul {
  -ms-flex-line-pack: center;
      align-content: center;
  display: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 34, scss/partials/_navigation.scss */
nav li {
  float: left;
  line-height: 50px;
}
/* line 38, scss/partials/_navigation.scss */
nav li img {
  border: 1px solid #4a90e2;
  border-radius: 100px;
  height: 25px;
  margin: auto;
  width: 25px;
}
/* line 46, scss/partials/_navigation.scss */
nav li a {
  color: inherit;
  padding: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
/* line 54, scss/partials/_navigation.scss */
nav li.bogdan {
  -ms-flex-line-pack: center;
      align-content: center;
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  margin: 0 16px 0 17px;
  overflow: hidden;
  position: relative;
  -webkit-transition: width 1.75s ease-in-out;
  transition: width 1.75s ease-in-out;
  width: 28px;
}
/* line 66, scss/partials/_navigation.scss */
nav li.bogdan:hover {
  width: 100%;
}
/* line 70, scss/partials/_navigation.scss */
nav li span {
  height: 28px;
  line-height: 28px;
  margin: auto auto auto 16px;
}
/* line 77, scss/partials/_navigation.scss */
li nav.bogdan,
nav li a::after {
  background-color: #4a90e2;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  width: 100%;
}
/* line 92, scss/partials/_navigation.scss */
li nav.bogdan:hover::after,
nav li a:hover::after {
  opacity: 1;
}

/* line 1, scss/partials/_grid.scss */
.grid {
  margin: 0 auto 55px;
  max-width: calc(1440px - 100px);
}
/* line 5, scss/partials/_grid.scss */
.grid .header {
  color: #1f2833;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto 32px;
  position: relative;
  text-align: left;
  width: calc(100% - 10px);
}
/* line 15, scss/partials/_grid.scss */
.grid .header .title {
  background: #fff;
  padding-right: 10px;
}
/* line 20, scss/partials/_grid.scss */
.grid .header::after {
  background-color: #dadada;
  content: '';
  display: block;
  height: 1px;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}
/* line 34, scss/partials/_grid.scss */
.grid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}
/* line 40, scss/partials/_grid.scss */
.grid .container:hover .element:not(:hover) {
  opacity: .5;
}
/* line 44, scss/partials/_grid.scss */
.grid .element {
  background-color: #fff;
  border: 1px solid #dadada;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  height: 210px;
  margin: 5px;
  min-width: 260px;
  text-align: left;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  width: calc(25% - 10px);
}
/* line 57, scss/partials/_grid.scss */
.grid .element:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
}
/* line 61, scss/partials/_grid.scss */
.grid .element.expand {
  width: calc(50% - 10px);
}

@media screen and (min-width: 910px) and (max-width: 1179px) {
  /* line 68, scss/partials/_grid.scss */
  .grid .container .element {
    width: calc(33% - 8px);
  }
}
@media screen and (min-width: 640px) and (max-width: 909px) {
  /* line 74, scss/partials/_grid.scss */
  .grid .container .element {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 639px) {
  /* line 80, scss/partials/_grid.scss */
  .grid .container .element {
    width: calc(100% - 10px);
  }
}
/* line 1, scss/partials/_welcome.scss */
#intro {
  padding-top: 125px;
}
/* line 4, scss/partials/_welcome.scss */
#intro h1 {
  color: #1f2833;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 61px;
  text-align: center;
}
/* line 13, scss/partials/_welcome.scss */
#intro #quick-links {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 20, scss/partials/_welcome.scss */
#intro a {
  color: #4a90e2;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  margin: 0 60px 75px 20px;
  position: relative;
  text-decoration: none;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
/* line 31, scss/partials/_welcome.scss */
#intro a:last-child {
  margin-right: 0;
}
/* line 35, scss/partials/_welcome.scss */
#intro a::before {
  background-color: none;
  border: 1px solid #4a90e2;
  border-radius: 25px;
  bottom: 0;
  box-shadow: inset 0 0 0 2px #fff;
  content: '';
  height: 15px;
  left: -20px;
  position: absolute;
  top: 0;
  -webkit-transition: background-color .25s linear;
  transition: background-color .25s linear;
  width: 15px;
}
/* line 50, scss/partials/_welcome.scss */
#intro a:hover {
  opacity: .7;
}
/* line 54, scss/partials/_welcome.scss */
#intro a:hover::before {
  background-color: #4a90e2;
}

/* line 28, scss/partials/general/_mixins.scss */
.project:hover[data-color=red] {
  border-color: rgba(255, 105, 97, 0.75);
}
/* line 28, scss/partials/general/_mixins.scss */
.project:hover[data-color=orange] {
  border-color: rgba(255, 179, 71, 0.75);
}
/* line 28, scss/partials/general/_mixins.scss */
.project:hover[data-color=yellow] {
  border-color: rgba(244, 224, 77, 0.75);
}
/* line 28, scss/partials/general/_mixins.scss */
.project:hover[data-color=green] {
  border-color: rgba(180, 215, 178, 0.75);
}
/* line 28, scss/partials/general/_mixins.scss */
.project:hover[data-color=blue] {
  border-color: rgba(74, 144, 226, 0.75);
}
/* line 28, scss/partials/general/_mixins.scss */
.project:hover[data-color=purple] {
  border-color: rgba(89, 65, 169, 0.75);
}
/* line 28, scss/partials/general/_mixins.scss */
.project:hover[data-color=violet] {
  border-color: rgba(177, 156, 217, 0.75);
}
/* line 28, scss/partials/general/_mixins.scss */
.project:hover[data-color=gray] {
  border-color: rgba(122, 118, 119, 0.75);
}
/* line 14, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=red] {
  color: #ff6961;
}
/* line 18, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=red]::before,
.project:hover .project-name[data-color=red]::after {
  background-color: #ff6961;
}
/* line 14, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=orange] {
  color: #ffb347;
}
/* line 18, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=orange]::before,
.project:hover .project-name[data-color=orange]::after {
  background-color: #ffb347;
}
/* line 14, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=yellow] {
  color: #f4e04d;
}
/* line 18, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=yellow]::before,
.project:hover .project-name[data-color=yellow]::after {
  background-color: #f4e04d;
}
/* line 14, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=green] {
  color: #b4d7b2;
}
/* line 18, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=green]::before,
.project:hover .project-name[data-color=green]::after {
  background-color: #b4d7b2;
}
/* line 14, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=blue] {
  color: #4a90e2;
}
/* line 18, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=blue]::before,
.project:hover .project-name[data-color=blue]::after {
  background-color: #4a90e2;
}
/* line 14, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=purple] {
  color: #5941a9;
}
/* line 18, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=purple]::before,
.project:hover .project-name[data-color=purple]::after {
  background-color: #5941a9;
}
/* line 14, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=violet] {
  color: #b19cd9;
}
/* line 18, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=violet]::before,
.project:hover .project-name[data-color=violet]::after {
  background-color: #b19cd9;
}
/* line 14, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=gray] {
  color: #7a7677;
}
/* line 18, scss/partials/general/_mixins.scss */
.project:hover .project-name[data-color=gray]::before,
.project:hover .project-name[data-color=gray]::after {
  background-color: #7a7677;
}
/* line 64, scss/partials/_welcome.scss */
.project:hover .project-name::before {
  -webkit-animation: z-bounce .2s linear;
          animation: z-bounce .2s linear;
}

/* line 70, scss/partials/_welcome.scss */
.project-name {
  color: #1f2833;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin: 20px 0 0 56px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 81, scss/partials/_welcome.scss */
.project-name::before, .project-name::after {
  background-color: none;
  border: 1px solid #4a90e2;
  border-radius: 25px;
  content: '';
  height: 17px;
  left: -36px;
  position: absolute;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 17px;
  will-change: transform;
}
/* line 95, scss/partials/_welcome.scss */
.project-name::before {
  -webkit-animation: z-bounce-back .2s linear;
          animation: z-bounce-back .2s linear;
  z-index: 1;
}
/* line 100, scss/partials/_welcome.scss */
.project-name::after {
  -webkit-animation: fadeOut .2s linear forwards;
          animation: fadeOut .2s linear forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background: #fff;
  left: -46px;
  margin: 9px;
  padding: 1px;
  top: -10px;
  z-index: 2;
}
/* line 4, scss/partials/general/_mixins.scss */
.project-name[data-color=red]::before, .project-name[data-color=red]::after {
  border-color: #ff6961;
}
/* line 4, scss/partials/general/_mixins.scss */
.project-name[data-color=orange]::before, .project-name[data-color=orange]::after {
  border-color: #ffb347;
}
/* line 4, scss/partials/general/_mixins.scss */
.project-name[data-color=yellow]::before, .project-name[data-color=yellow]::after {
  border-color: #f4e04d;
}
/* line 4, scss/partials/general/_mixins.scss */
.project-name[data-color=green]::before, .project-name[data-color=green]::after {
  border-color: #b4d7b2;
}
/* line 4, scss/partials/general/_mixins.scss */
.project-name[data-color=blue]::before, .project-name[data-color=blue]::after {
  border-color: #4a90e2;
}
/* line 4, scss/partials/general/_mixins.scss */
.project-name[data-color=purple]::before, .project-name[data-color=purple]::after {
  border-color: #5941a9;
}
/* line 4, scss/partials/general/_mixins.scss */
.project-name[data-color=violet]::before, .project-name[data-color=violet]::after {
  border-color: #b19cd9;
}
/* line 4, scss/partials/general/_mixins.scss */
.project-name[data-color=gray]::before, .project-name[data-color=gray]::after {
  border-color: #7a7677;
}

/* line 114, scss/partials/_welcome.scss */
.project-description {
  -webkit-box-orient: vertical;
  box-shadow: inset 0 -8px 55px -8px #fff;
  color: #1f2833;
  display: -webkit-box;
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 300;
  height: 80px;
  -webkit-line-clamp: 4;
  line-height: 20px;
  margin: 20px 20px 35px;
  overflow-y: hidden;
}

/* line 129, scss/partials/_welcome.scss */
.project-link-container {
  padding: 0 20px;
}

/* line 133, scss/partials/_welcome.scss */
.project-link {
  display: inline-block;
  padding: 0 5px;
}
/* line 38, scss/partials/general/_mixins.scss */
.project-link[data-color=red]:hover svg {
  fill: #ff6961;
}
/* line 38, scss/partials/general/_mixins.scss */
.project-link[data-color=orange]:hover svg {
  fill: #ffb347;
}
/* line 38, scss/partials/general/_mixins.scss */
.project-link[data-color=yellow]:hover svg {
  fill: #f4e04d;
}
/* line 38, scss/partials/general/_mixins.scss */
.project-link[data-color=green]:hover svg {
  fill: #b4d7b2;
}
/* line 38, scss/partials/general/_mixins.scss */
.project-link[data-color=blue]:hover svg {
  fill: #4a90e2;
}
/* line 38, scss/partials/general/_mixins.scss */
.project-link[data-color=purple]:hover svg {
  fill: #5941a9;
}
/* line 38, scss/partials/general/_mixins.scss */
.project-link[data-color=violet]:hover svg {
  fill: #b19cd9;
}
/* line 38, scss/partials/general/_mixins.scss */
.project-link[data-color=gray]:hover svg {
  fill: #7a7677;
}
/* line 138, scss/partials/_welcome.scss */
.project-link:first-child {
  padding-left: 0;
}
/* line 142, scss/partials/_welcome.scss */
.project-link svg {
  color: #1f2833;
  max-height: 15px;
  max-width: 15px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

/* line 150, scss/partials/_welcome.scss */
.footer {
  font-family: Ubuntu;
  font-size: 16px;
}
/* line 154, scss/partials/_welcome.scss */
.footer .question .mark {
  -webkit-animation: wobble 2s linear infinite;
          animation: wobble 2s linear infinite;
  display: inline-block;
  font-size: 20px;
}

@media screen and (min-width: 480px) and (max-width: 1440px) {
  /* line 12, scss/app.scss */
  .center {
    margin: auto;
    max-width: 1340px !important;
    width: calc(100% - 100px) !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 20, scss/app.scss */
  .center {
    margin-left: 25px !important;
    margin-right: 25px !important;
    max-width: 430px !important;
    width: calc(100% - 50px) !important;
  }
}
